.input {
  width: 300px;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background-color: transparent;
  padding: 5px 5px 5px 13px;
  color: white;
  font-size: 18px;
  margin: 10px 0;
}
